/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

.headerOne {
    margin: -10px;
    color: #553100;
    background-color: #FFDBAA;
}

.mainBody {
    background-color: #D4A76A;
}

button {
    background-color: #805215;
}

.home {
    margin-left: 1000px;
}